<?php
/* This is a very basic config, which allows you to run a read-only horde instance.
 * The intended purpose is to use such an instance to provide a running
 * secondary installation, during upgrades. The config is compatible with RO database access. */
/* CONFIG START. DO NOT CHANGE ANYTHING IN OR AFTER THIS LINE. */
// $Id: 07e9b2147914eca82d31f4e32235ee48fcc2fe4e $
$conf['secret_key'] = fixme;
$conf['sql']['hostspec']    = 'dbhost';
$conf['sql']['database']    = 'horde-copy';
$conf['sql']['username']    = 'horde-read-only';
$conf['sql']['password']    = '';
$conf['sql']['protocol']    = 'tcp';
$conf['sql']['persistent']  = true;
$conf['sql']['charset']     = 'utf-8';
$conf['sql']['splitread']   = false;
$conf['sql']['phptype']     = 'mysql';
$conf['vhosts'] = false;
$conf['debug_level'] = E_ALL & ~E_NOTICE;
$conf['max_exec_time'] = 0;
$conf['compress_pages'] = true;
$conf['umask'] = 037;
$conf['testdisable'] = true;
$conf['tmpdir'] = '/tmp';
$conf['use_ssl'] = 1;
$conf['server']['name'] = $_SERVER['SERVER_NAME'];
$conf['urls']['token_lifetime'] = 20;
$conf['urls']['hmac_lifetime'] = 20;
$conf['urls']['pretty'] = 'rewrite';
$conf['safe_ips'] = array();
$conf['session']['name'] = 'Horde';
$conf['session']['use_only_cookies'] = true;
$conf['session']['timeout'] = 1800;
$conf['session']['cache_limiter'] = 'nocache';
$conf['session']['max_time'] = 43200;
$conf['cookie']['domain'] = $_SERVER['SERVER_NAME'];
$conf['cookie']['path'] = '/';
$conf['ldap']['useldap'] = false;
$conf['auth']['admins'] = array();
$conf['auth']['checkip'] = false;
$conf['auth']['checkbrowser'] = true;
$conf['auth']['resetpassword'] = false;
$conf['auth']['alternate_login'] = false;
$conf['auth']['redirect_on_logout'] = false;
$conf['auth']['list_users'] = 'list';
$conf['auth']['params']['app'] = 'imp';
$conf['auth']['driver'] = 'application';
$conf['auth']['params']['count_bad_logins'] = false;
$conf['auth']['params']['login_block'] = false;
$conf['auth']['params']['login_block_count'] = 5;
$conf['auth']['params']['login_block_time'] = 5;
$conf['signup']['allow'] = false;
$conf['log']['priority'] = 'INFO';
$conf['log']['ident'] = 'HORDE';
$conf['log']['name'] = '/tmp/horde_log';
$conf['log']['params']['append'] = true;
$conf['log']['params']['format'] = 'default';
$conf['log']['type'] = 'file';
$conf['log']['enabled'] = true;
$conf['log_accesskeys'] = false;
$conf['prefs']['params']['driverconfig'] = 'horde';
$conf['prefs']['driver'] = 'Sql';
$conf['alarms']['driver'] = false;
$conf['group']['driver'] = 'Mock';
$conf['perms']['driver'] = 'Null';
$conf['share']['no_sharing'] = true;
$conf['share']['auto_create'] = true;
$conf['share']['world'] = false;
$conf['share']['any_group'] = false;
$conf['share']['hidden'] = false;
$conf['share']['cache'] = true;
$conf['share']['driver'] = 'Null';
$conf['cache']['default_lifetime'] = 86400;
$conf['cache']['driver'] = 'Null';
$conf['cache']['use_memorycache'] = 'Apc';
$conf['cachecssparams']['driver'] = 'filesystem';
$conf['cachecssparams']['lifetime'] = 86400;
$conf['cachecss'] = true;
$conf['cachejsparams']['driver'] = 'filesystem';
$conf['cachejsparams']['compress'] = 'php';
$conf['cachejsparams']['lifetime'] = 86400;
$conf['cachejs'] = true;
$conf['cachethemesparams']['check'] = 'appversion';
$conf['cachethemesparams']['lifetime'] = 604800;
$conf['cachethemes'] = true;
$conf['lock']['driver'] = 'Null';
$conf['token']['driver'] = 'File';
$conf['davstorage']['driver'] = 'Null';
$conf['mailer']['params']['sendmail_path'] = '/usr/lib/sendmail';
$conf['mailer']['params']['sendmail_args'] = '-oi';
$conf['mailer']['type'] = 'sendmail';
$conf['mailformat']['brokenrfc2231'] = false;
$conf['vfs']['type'] = 'File';
$conf['sessionhandler']['type'] = 'Builtin';
$conf['sessionhandler']['hashtable'] = false;
$conf['spell']['driver'] = 'aspell';
$conf['gnupg']['path'] = '/usr/bin/gpg';
$conf['gnupg']['keyserver'] = array('zimmermann.mayfirst.org', 'pool.sks-keyservers.net');
$conf['gnupg']['timeout'] = 20;
$conf['nobase64_img'] = false;
$conf['image']['driver'] = 'Imagick';
$conf['exif']['driver'] = 'Bundled';
$conf['mime']['magic_db'] = '/usr/share/misc/magic';
$conf['timezone']['location'] = 'ftp://ftp.iana.org/tz/tzdata-latest.tar.gz';
$conf['problems']['email'] = '';
$conf['problems']['maildomain'] = '';
$conf['problems']['tickets'] = false;
$conf['problems']['attachments'] = false;
$conf['menu']['links']['help'] = 'authenticated';
$conf['menu']['links']['prefs'] = 'authenticated';
$conf['menu']['links']['problem'] = 'all';
$conf['menu']['links']['login'] = 'all';
$conf['menu']['links']['logout'] = 'authenticated';
$conf['portal']['fixed_blocks'] = array('imp:imp_Block_Newmail');
$conf['accounts']['driver'] = 'null';
$conf['user']['verify_from_addr'] = true;
$conf['user']['select_view'] = true;
$conf['facebook']['enabled'] = false;
$conf['twitter']['enabled'] = false;
$conf['urlshortener'] = false;
$conf['weather']['provider'] = false;
$conf['imap']['enabled'] = false;
$conf['imsp']['enabled'] = false;
$conf['kolab']['enabled'] = false;
$conf['hashtable']['driver'] = 'none';
$conf['activesync']['enabled'] = false;
/* CONFIG END. DO NOT CHANGE ANYTHING IN OR BEFORE THIS LINE. */

